# --- DEPS & BUILD ---
node_modules/
.expo/
dist/
web-build/
build/

# --- NATIVE & MOBILE ---
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem
expo-env.d.ts

# --- METRO & CACHE ---
.metro-cache/
.metro-health-check*
.tsbuildinfo

# --- DEBUG & LOGS ---
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log
*.log

# --- ENVIRONMENT & SECRETS ---
.env
.env.local
.env.*.local
*.firebase.json
credential.json

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
desktop.ini

# --- PROJECT SPECIFIC ---
# Remove the line below if you WANT to upload the example folder
app-example/
